@import '_normalize', '_grid', '_h5bp', '_remodal', '_remodal-default-theme';


// ============================================
// customize css
// ============================================
$size-logo: 160px;
$height-footer: 80px;

body {
    font-family: -apple-system, 'Questrial', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    margin-top: 80px;
    margin-bottom: 48px;
}

.wrapper {
    min-height: calc(100vh - $height-footer);
}

.footer {
    display: flex;
    height: $height-footer;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
}


.logo {
    display: flex;
    &__img {
        margin: auto;
        width: $size-logo;
        height: $size-logo;
        border-radius: 50%;
    }
}

.filter {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 32px;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__item {
        padding-left: 40px;
        padding-right: 40px;
        @media (max-width: 991px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__button {
        $color-button-active: #333;
        display: block;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        color: #999;
        text-decoration: none;
        transition: all .15s linear;
        &--active {
            color: $color-button-active;
            text-decoration: underline;
        }
        &:hover,
        &:focus {
            color: $color-button-active;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    &__item {
        padding-left: 16px;
        padding-right: 16px;
    }
    &__button {
        display: flex;
        padding: 8px;
        img {
            transform: translateY(0);
            transition: all .15s linear;
        }
        &:hover {
            img { 
                transform: translateY(-4px);
            }
        }
    }
}

.img-responsive { width: 100% }
.img-wrapper {
    display: block;
    background-color: #000;
    margin-bottom: 30px;

    &__img {
        transition: .15s all linear;
    }
    &:hover,
    &:focus {
        .img-wrapper {
            &__img { opacity: .5 }
        }
    }
}


// modal
.remodal {
    &__img {
        & + & { margin-top: 35px }
    }
}



// ABOUT
.about {
    display: flex;
    flex-direction: column;
    &__banner {
        max-width: 640px;
        margin: auto;
    }
    &__content {
        $width-content: 16px*40;
        margin: auto;
        max-width: $width-content;
        section {
            padding-top: 32px;
        }
        h1 {
            margin-top: 32px;
            margin-bottom: 32px;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            color: #333;
        }
        p {
            margin-top: 32px;
            margin-bottom: 32px;
            line-height: 32px;
            font-size: 16px;
            font-weight: 300;
            color: #666;
        }
    }
}








